/* style.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App container */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header container */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 20px;
  z-index: 9999;
}

.header-container h1 {
  margin: 0;
}

/* Create Blog button */
.create-blog-button {
  padding: 8px;
  background-color: #007bff;
  border-radius: 4px;
}

.create-blog-button a {
  color: #fff;
  text-decoration: none;
}

/* Login container */
.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #f77272;
  border-radius: 5px;
  box-shadow: 0 2px 500px rgba(255, 13, 13, 0.1);
}

.login-container h2 {
  text-align: center;
}

.input-container {
  margin-bottom: 50px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f66969;
  border-radius: 5px;
}

button {
  padding: 10px 135px;
  font-size: 16px;
  background-color: #cdff50;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a97eb;
}

/* Blog container */
.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 1px solid #ff7878;
}

.blog-list {
  display: grid;
  gap: 20px;
  background-color: #8fed94;
}

.blog-card {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.blog-card p {
  font-size: 14px;
  margin-bottom: 16px;
}

.blog-card h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.blog-card ul {
  list-style: none;
  padding: 0;
}

.blog-card li {
  font-size: 14px;
  margin-bottom: 8px;
}

input[type="file"] {
  margin-bottom: 10px;
}

/* Create Blog container */
.create-blog-container {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
}

.create-blog-container h2 {
  text-align: center;
}


.create-blog-container input[type="text"],
.create-blog-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.create-blog-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.create-blog-container button:hover {
  background-color: #45a049;
}
/* style.css */

.create-blog-link {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #a6ff00;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 999;
}

.create-blog-link:hover {
  background-color: #0056b3;
}

.commentButton{
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #cdff50;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blogContainer{
  background-color: #8fed94;
}
.image{
  height: 250px;
  width: 500px;
}

.mainlogin{
background-color: #b4cde7;
padding: 70px;


}